body {
    background-color: white;
    font-family: Arial;
  }

h1{
  font-size: 1.8em;
  text-align: center;
  padding: 5px;
  margin-top: 40px;
}

h3{
  font-size: 0.5em;
  text-align: center;
  margin:0;
  padding: 0;
}

#pano-container {
  margin:40px auto;
  text-align: center;
  align-items: center;
}

iframe{
  padding:0;
}
.gallery-row{
  display:flex;
  flex-wrap: wrap;
  text-align:center;
  margin: auto;
  max-width: 800px;
  justify-content: flex-start;
}
  /* Style the images inside the grid */
.gallery-column img {
  opacity: 0.8; 
  cursor: pointer; 
  border: 1px solid #ddd; /* Gray border */
  border-radius: 5px;  /* Rounded border */
  padding: 10px; /* Some padding */
  height: 100px;
}
  
.gallery-column img:hover {
  opacity: 1;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
  text-align:center;
  vertical-align: middle
}

#expandedImg{
  height: 60%;
  position: absolute;
  top: 25%;
  left: 30%;
}