*{
    margin:0;
    padding:0;
  }
  body {
      background-color: white;
      font-family: Arial, Helvetica, sans-serif;
    }
  

  
  .header{
    background-color: #023859;
  }
  

  /*container for basemap*/
  .container{
    display: flex;
    overflow: hidden;
  }
  .h1{
    display: inline-block;

    text-align: center;
  }
  /*basemap*/
  .basemap-container {
    padding:1.5vw 1vw;
    flex: 15%;
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    display: inline-table;
  }
  
  #menu-container{
    font-size: 1.4vw;
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    flex:80%;
    /* border: 1px solid var(--primary-color); */
  }
  
  
table {
  border-spacing: 0.5vw;
}
th, td {
  padding: 0.5vw;
}
#menu-container tr:nth-child(even) {
  background-color: #eee;
}
#menu-container tr:nth-child(odd) {
 background-color: #fff;
}

a{
  text-decoration: none;
  text-decoration-color: var(--secondary-color);
}
  
  
  
  
  
  
  
  
  
  
  
  